@use "../theme/typography";

.presentation {
	display: grid;
	justify-content: center;

	aspect-ratio: 16 / 9;
	height: 100dvh;
	position: relative;

	&::before {
		content: attr(data-slide-number);
		@include typography.base-small;

		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}

	> progress {
		appearance: none;

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.5em;

		view-transition-name: progress;

		&::-webkit-progress-bar {
			background: 0;
		}
		&::-webkit-progress-value {
			background: currentColor;
			opacity: 0.2;
			transition: width var(--transition-duration);
		}
	}
}

::view-transition-group(progress) { animation-duration: 0s; }

.presentation:not(.hydrated) {
	width: 100%;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	> .slide {
		scroll-snap-align: start;
	}
}

.presentation.hydrated {
	margin: auto;
	overflow: hidden;
	place-content: center;
	> .slide {
		grid-area: 1 / 1;
		&:not([aria-current]) {
			display: none;
		}
	}
}

.slide {
	aspect-ratio: 16 / 9;
	height: 100dvh;

	display: grid;
	gap: 2rem;
	position: relative;
	overflow: hidden;

	padding: 4rem;

	&.slide--title {
		grid-template-areas: "title";
		place-content: center;
		.title {
			@include typography.heading-large;
		}
	}
	&.slide--text {
		grid-template-areas:
			"title"
			"text";
		grid-template-rows: auto 1fr;
	}
	&.slide--media {
		grid-template-areas:
			"title"
			"text"
			"media"
			".";
		grid-template-rows: auto auto auto 1fr;
	}
	&.slide--media-left {
		grid-template-areas:
			"title title"
			"media text";
		grid-template-rows: auto 1fr;
		grid-template-columns: repeat(2, 50%);
	}
	&.slide--media-right {
		grid-template-areas:
			"title title"
			"text media";
		grid-template-rows: auto 1fr;
		grid-template-columns: repeat(2, 50%);
	}
	&.slide--media-double {
		grid-template-areas:
			"title"
			"media"
			"media-2"
			".";
		grid-template-rows: auto auto auto 1fr;

		.media + .media {
			grid-area: media-2;
		}
	}

	.title {
		grid-area: title;

		@include typography.heading;
	}
	.text {
		grid-area: text;
		display: grid;
		grid-template-columns: 1fr;
		align-content: center;

		p + p {
			margin-top: 1em;
		}

		:where(ul, ol) {
			li + li {
				margin-top: 0.5em;
			}
		}

		dl > div {
			+ div {
				margin-top: 1em;
			}
		}

		dt {
			@include typography.base-bold;
		}

		dd {
			margin: 0;
		}
	}
	.text--top {
		align-content: start;
	}
	.media {
		grid-area: media;

		img {
			border-radius: 0.5rem;
		}

	}
	figure.media {
		display: grid;
		place-items: center;
	}

	@include typography.base;

	code {
		display: block;
		white-space: pre;
		tab-size: 4;

		@include typography.mono;
		&.code--small {
			@include typography.mono-small;
		}

		background: rgba(white, 0.1);
		padding: 0.2em;
		border-radius: 0.2em;
	}

	&:where(.transitioning-in, .transitioning-out) {
		view-transition-name: slide;
	}

	&:where(.transitioning-in[data-transition-in-parts], .transitioning-out[data-transition-out-parts]) {
		.title {
			view-transition-name: slide-title;
		}
		.text {
			view-transition-name: slide-text;
		}
		.media {
			view-transition-name: slide-media;
		}
	}
}
