$font-face-lilita-one: "Lilita One";
$font-face-varela-round: "Varela Round";
$font-face-roboto-mono: "Roboto Mono";

$family-heading: $font-face-lilita-one, "Arial", sans-serif;
$family-base: $font-face-varela-round, sans-serif;
$family-mono: $font-face-roboto-mono, monospace;

$weight-normal: 400;
$weight-bold: 700;

@mixin heading {
	font-family: $family-heading;
	font-weight: $weight-normal;
	font-size: 4rem;
	line-height: 1.2;
}

@mixin heading-large {
	font-family: $family-heading;
	font-weight: $weight-normal;
	font-size: 6rem;
	line-height: 1.2;
}

@mixin base {
	font-family: $family-base;
	font-weight: $weight-normal;
	font-size: 2rem;
	line-height: 1.2;
}

@mixin base-bold {
	font-family: $family-base;
	font-weight: $weight-bold;
	font-size: 2rem;
	line-height: 1.2;
}

@mixin base-small {
	font-family: $family-base;
	font-weight: $weight-normal;
	font-size: 1rem;
	line-height: 1.2;
}

@mixin mono {
	font-family: $family-mono;
	font-weight: $weight-normal;
	font-size: 2rem;
	line-height: 1.2;
}

@mixin mono-small {
	font-family: $family-mono;
	font-weight: $weight-normal;
	font-size: 1.5rem;
	line-height: 1.2;
}
